.about{
   padding-top: 130px;
   padding-bottom: 90px;
}
.about__container{
   display: flex;
}

.about__ul{
   display: flex;
   margin-right: 64px;
}
.about__li + .about__li{
   margin-left: 30px;
}

.section-name {
   padding-bottom: 20px;
}

.title {
   padding-bottom: 20px;
}

.subtitle {
   padding-bottom: 20px;
}

.about__discription{
   padding-bottom: 40px;
   
   font-size: 14px;
   line-height: 1.86;
   letter-spacing: 0.02em;
}