.footer__copy{
   font-weight: 600;
   font-size: 11px;
   line-height: 1.36;
      /* identical to box height */
   letter-spacing: 0.2em;
   
   color: $white-text-color;
}
.footer__link{
   font-weight: 600;
   font-size: 11px;
   line-height: 1.36;
   letter-spacing: 0.2em;
   color: $tite-text-color;
}