.prices{
   background-color: gray;

}
.prices__section-name{
   color: rgba(157, 164, 189, 0.6);;
}
.prices__title{
   color: $white;
}
.prices__li-text{
   font-size: 18px;
   line-height: 1.67;
   letter-spacing: 0.02em;
   color: $white-text-color;
}